.cards {
  margin-top: 30px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  padding: 0;
  margin: 0;
  grid-gap: 20px 17px;
}

.card {
  border-radius: 10px;
  list-style-type: none;
}

.card__image {
  width: 100%;
  object-fit: cover;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  border-radius: 10px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Like-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
}

.card__title {
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 29px;
}
