.card {
  border-radius: 10px;
  list-style-type: none;
  overflow: hidden;
}

.card__image {
  width: 100%;
  object-fit: cover;
  display: block;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Like-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__title {
  margin: 0;
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
