.footer {
  color: #545454;
  padding: 67px 0 60px;
}

.footer__copyright {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
    padding: 48px 0 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
