.footer {
  color: #545454;
  padding: 67px 0 60px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.footer__copyright {
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
    line-height: 18px;
  }
}
