.header {
  border-bottom: solid 1px rgb(84 84 84 / 0.7);
}

.header__logo {
  margin: 45px 0 41px;
  max-width: 100%;
  width: 173px;
  max-height: 100%;
  height: 33px;
}

@media screen and (max-width: 1280px) {
  .header {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .header__logo {
  }
}

@media screen and (max-width: 775px) {
  .header {
  }

  .header__logo {
  }
}

@media screen and (max-width: 480px) {
  .header {
  }

  .header__logo {
  }
}

@media screen and (max-width: 320px) {
  .header {
  }

  .header__logo {
  }
}
