.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  box-sizing: border-box;
  position: relative;
  padding: 36px;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.8;
}

.modal__heading {
  margin: 0 28px 54px 0;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  font-family: "Inter", sans-serif;
}

.modal__form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1 fr 1 fr;
  gap: 30px 36px;
  line-height: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.modal__input {
  line-height: 27px;
  font-size: 20px;
  height: 30px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  font-size: 18px;
  line-height: 50px;
  font-weight: 358px;
  background-color: #000;
  color: #fff;
  height: 50.15px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 480px) {
  .modal {
    padding: 0 10px;
    align-items: center;
  }

  .modal__container {
    padding: 20px;
    max-width: 90%;
    border-radius: 8px;
  }

  .modal__close {
    width: 24px;
    height: 24px;
    left: auto;
    right: -8px;
    bottom: calc(100% + 8px);
  }

  .modal__heading {
    font-size: 18px;
    margin: 0 0 30px 0;
  }

  .modal__form {
    gap: 20px;
    font-size: 12px;
  }

  .modal__input {
    font-size: 16px;
    height: 25px;
  }

  .modal__button {
    font-size: 16px;
    height: 45px;
    line-height: 45px;
  }
}
