.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.profile__edit-button:hover {
  background-color: #454545;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
}

.profile__add-button:hover {
  background-color: #454545;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
}

.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 1280px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 775px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
